# Cleaning our data

Cleaning your data and dealing with dates. That's the life of anyone who deals with data, especially in finance. Most data sets are messy. This is especially true if you or your firm is the one collecting the data and not just purchasing something.

DataCamp has an article on [cleaning data in `pandas`](https://www.datacamp.com/community/tutorials/data-preparation-with-pandas).

[Chapter 7](https://wesmckinney.com/book/data-cleaning.html) of *Python for Data Analysis* for more data cleaning tips.

## Underwater exploration

We'll start by bringing in our Zillow data again.

In [1]:
import numpy as np
import pandas as pd

uw = pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/zestimatesAndCutoffs_byGeo_uw_2017-10-10_forDataPage.csv')
uw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610 entries, 0 to 2609
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   RegionType                    2610 non-null   object
 1   RegionName                    2610 non-null   object
 2   StateName                     2609 non-null   object
 3   MSAName                       1071 non-null   object
 4   AllHomes_Tier1                2610 non-null   float64
 5   AllHomes_Tier2                2610 non-null   float64
 6   AllHomes_Tier3                2610 non-null   float64
 7   AllHomes_AllTiers             2610 non-null   float64
 8   UWHomes_Tier1                 2610 non-null   float64
 9   UWHomes_Tier2                 2610 non-null   int64
 10  UWHomes_Tier3                 2610 non-null   float64
 11  UWHomes_AllTiers              2610 non-null   float64
 12  UWHomes_TotalValue_Tier1      2610 non-null   float64
 13  UWHomes_TotalValue_Tier2      2610 non-null   float64
 14  UWHomes_TotalValue_Tier3      2610 non-null   float64
 15  UWHomes_TotalValue_AllTiers   2610 non-null   float64
 16  UWHomes_MedianValue_AllTiers  2610 non-null   float64
 17  AllHomes_Tier1_ShareUW        2610 non-null   float64
 18  AllHomes_Tier2_ShareUW        2610 non-null   float64
 19  AllHomes_Tier3_ShareUW        2610 non-null   float64
 20  AllHomes_AllTiers_ShareUW     2610 non-null   float64
 21  UWHomes_ShareInTier1          2610 non-null   float64
 22  UWHomes_ShareInTier2          2610 non-null   float64
 23  UWHomes_ShareInTier3          2610 non-null   float64
dtypes: float64(19), int64(1), object(4)
memory usage: 489.5+ KB

Once of the most important steps in data cleaning is just looking at what we have. What are the variables? What are their types? How many unique values of each variable do we have? Any missings? Do we see anything unexpected?

This [page](https://datagy.io/pandas-unique/) has a nice summary.

In [2]:
uw['UWHomes_Tier2'] = uw["UWHomes_Tier2"].astype('float64')

We can count the number of times a category appears in a variable. Note that this is only useful for variables that have an sense of category. You would do this for any of the home count or dollar value variables, for example.

In [3]:
uw['RegionType'].value_counts()

Zip       1247
City      1017
County     227
MSA         95
State       23
Nation       1
Name: RegionType, dtype: int64

We should look for missing values for each variable. `isna()` returns a `TRUE` or `FALSE` for each value, depending on whether or not it is `NaN`, or missing. We can then take those 1/0, true or false, values and add them up with `sum()`.

In [4]:
uw.isna().sum()

RegionType                         0
RegionName                         0
StateName                          1
MSAName                         1539
AllHomes_Tier1                     0
AllHomes_Tier2                     0
AllHomes_Tier3                     0
AllHomes_AllTiers                  0
UWHomes_Tier1                      0
UWHomes_Tier2                      0
UWHomes_Tier3                      0
UWHomes_AllTiers                   0
UWHomes_TotalValue_Tier1           0
UWHomes_TotalValue_Tier2           0
UWHomes_TotalValue_Tier3           0
UWHomes_TotalValue_AllTiers        0
UWHomes_MedianValue_AllTiers       0
AllHomes_Tier1_ShareUW             0
AllHomes_Tier2_ShareUW             0
AllHomes_Tier3_ShareUW             0
AllHomes_AllTiers_ShareUW          0
UWHomes_ShareInTier1               0
UWHomes_ShareInTier2               0
UWHomes_ShareInTier3               0
dtype: int64

You can see the logic in how these functions work. We take our DataFrame uw and we send it to `isna()`. This actually creates another DataFrame, that we then pass to `sum()`. Check it out.

In [5]:
uw.isna()

,RegionType,RegionName,StateName,MSAName,AllHomes_Tier1,AllHomes_Tier2,AllHomes_Tier3,AllHomes_AllTiers,UWHomes_Tier1,UWHomes_Tier2,...,UWHomes_TotalValue_Tier3,UWHomes_TotalValue_AllTiers,UWHomes_MedianValue_AllTiers,AllHomes_Tier1_ShareUW,AllHomes_Tier2_ShareUW,AllHomes_Tier3_ShareUW,AllHomes_AllTiers_ShareUW,UWHomes_ShareInTier1,UWHomes_ShareInTier2,UWHomes_ShareInTier3
0,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2606,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2607,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2608,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2609,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

The same sort of logic applies to the method `unique()`. This one gives an `array` of each unique value in a column or set of columns.

In [6]:
uw.RegionName.unique()

array(['United States', 'Alabama', 'California', ..., '98612', '32081',
       '33578'], dtype=object)

And, to look across multiple columns, we could use `drop_duplicates()'. This will find the unique values for set of variables given it.

In [7]:
uw[['RegionName','StateName']].drop_duplicates()

         RegionName    StateName
0     United States          NaN
1           Alabama      Alabama
2        California   California
3       Connecticut  Connecticut
4          Delaware     Delaware
...             ...          ...
2605          98592   Washington
2606          98595   Washington
2607          98612   Washington
2608          32081      Florida
2609          33578      Florida

[2571 rows x 2 columns]

We can count the number of unique values for a variable.

In [8]:
uw.RegionName.nunique()

2496

We can filter on one variable and count another. We're looking for unexpected things, just trying to get a sense for what we have.

In [9]:
uw[uw['RegionType'] == 'MSA'].MSAName.nunique()

95

This syntax works too!

In [10]:
uw[uw['RegionType'] == 'MSA']['MSAName'].nunique()

95

We have 95 unique MSA is our data. Seems reasonable. MSAs are like city-regions.

Finally, let's try some more complicated code. I found this example [here](https://towardsdatascience.com/a-better-eda-with-pandas-profiling-e842a00e1136).

First, we will create a DataFrame that has the total number of missing values for each variable. We can sort the data using `sort_values()`. The `ascending=False` option will have the variable with the largest number of missings at the top.

In [11]:
total = uw.isna().sum().sort_values(ascending=False)

By the way, you'll also see a `isnull()` method that does the same thing as `isna()`. 

Next, let's create a DataFrame that that has the percentage of values that are missing for each variable. This is neat one - we are creating a DataFrame of values (total number missing) for the numerator and another DataFrame of values (total number) for the denominator. Then, we are dividing two DataFrames, giving us another DataFrame of the resulting division. We then sort.

In [12]:
percent = (uw.isnull().sum()/uw.isnull().count()).sort_values(ascending=False)

We can use a new function called `concat` from `pandas` that combines data, either as rows (stacking) or columns (combining). We'll combine columns, with means concatenating along axis=1. We'll name both columns. We can do this because each DataFrame has the same index created by `pandas`, all of our variable names. So, there's a one-to-one correspondence between the two DataFrames.

In [13]:
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])

Let's take the percents and multiply all of them by 100, just to make them look like percents. And to show you, again, that you can.

In [14]:
missing_data['Missing Percent'] = missing_data['Missing Percent'] * 100

For the last step, we can filter and just get the variable names where more than 10% of our data are missing.

In [15]:
missing_data[missing_data['Missing Percent'] > 10]

         Total  Missing Percent
MSAName   1539        58.965517


## Back to stocks

We can bring back the stock data too, as that data has some missing values.

In [16]:
prices = pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/tr_eikon_eod_data.csv',
                      index_col=0, parse_dates=True)

Why are there missing values? Holidays and weekends, when trading doesn't take place.

In [17]:
prices.isna().sum()

AAPL.O    78
MSFT.O    78
INTC.O    78
AMZN.O    78
GS.N      78
SPY       78
.SPX      78
.VIX      78
EUR=       0
XAU=       5
GDX       78
GLD       78
dtype: int64

We can drop these rows. We'll specify `axis=0`, or rows.

In [18]:
prices = prices.dropna(axis=0)
prices.isna().sum()

AAPL.O    0
MSFT.O    0
INTC.O    0
AMZN.O    0
GS.N      0
SPY       0
.SPX      0
.VIX      0
EUR=      0
XAU=      0
GDX       0
GLD       0
dtype: int64

In [19]:
prices.head(15)

,AAPL.O,MSFT.O,INTC.O,AMZN.O,GS.N,SPY,.SPX,.VIX,EUR=,XAU=,GDX,GLD
Date,,,,,,,,,,,,
2010-01-04,30.572827,30.950,20.880,133.900,173.08,113.33,1132.99,20.04,1.4411,1120.00,47.71,109.80
2010-01-05,30.625684,30.960,20.870,134.690,176.14,113.63,1136.52,19.35,1.4368,1118.65,48.17,109.70
2010-01-06,30.138541,30.770,20.800,132.250,174.26,113.71,1137.14,19.16,1.4412,1138.50,49.34,111.51
2010-01-07,30.082827,30.452,20.600,130.000,177.67,114.19,1141.69,19.06,1.4318,1131.90,49.10,110.82
2010-01-08,30.282827,30.660,20.830,133.520,174.31,114.57,1144.98,18.13,1.4412,1136.10,49.84,111.37
2010-01-11,30.015684,30.270,20.950,130.308,171.56,114.73,1146.98,17.55,1.4513,1152.60,50.17,112.85
2010-01-12,29.674256,30.070,20.608,127.350,167.82,113.66,1136.22,18.25,1.4494,1127.30,48.35,110.49
2010-01-13,30.092827,30.350,20.960,129.110,169.07,114.62,1145.68,17.85,1.4510,1138.40,48.86,111.54
2010-01-14,29.918542,30.960,21.480,127.350,168.53,114.93,1148.46,17.63,1.4502,1142.85,48.60,112.03
2010-01-15,29.418542,30.860,20.800,127.140,165.21,113.64,1136.03,17.91,1.4382,1129.90,47.42,110.86
2010-01-19,30.719969,31.100,21.050,127.610,166.86,115.06,1150.23,17.58,1.4298,1137.70,47.69,111.52
2010-01-20,30.246398,30.585,21.080,125.780,167.79,113.89,1138.04,18.68,1.4101,1111.30,45.73,108.94
2010-01-21,29.724542,30.010,20.840,126.620,160.87,111.70,1116.48,22.27,1.4090,1094.75,43.75,107.37
2010-01-22,28.249972,28.960,19.910,121.430,154.12,109.21,1091.76,27.31,1.4137,1092.60,43.79,107.17
2010-01-25,29.010685,29.320,20.320,120.310,154.98,109.77,1096.78,25.41,1.4150,1097.85,43.19,107.48

## Pyjanitor

We are going to look at a fun package that is based on something from the [R](https://www.r-project.org) statistical programming language, called [pyjanitor](https://pyjanitor-devs.github.io/pyjanitor/). 

To use this package, you'll need to type the following in the terminal (Mac) or command prompt (Windows).

```
conda install -c conda-forge pyjanitor
```
This will install `pyjanitor` using Ananconda. So, it should show up when you select the Anaconda distribution of Python. You'll need to restart VS Code once you've installed it.

There are even [finance specific tools](https://pyjanitor-devs.github.io/pyjanitor/api/finance/).

In [20]:
import janitor
from janitor import clean_names

`pyjanitor` lets us have an interesting workflow. We can read in our data set, remove columns, drop missings, and rename columns, all in one series of steps.

In [21]:
prices = (
    pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/tr_eikon_eod_data.csv',
                      index_col=0, parse_dates=True)
    .remove_columns(['GLD'])
    .dropna()
    .rename_column('AAPL.O', 'AAPL')
    .rename_column('MSFT.O', 'MSFT')
)

There are also some built-in, general functions. `clean_names()` does what it says. For example, it sets all characters in a variable name to lower case.

In [22]:
prices = pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/tr_eikon_eod_data.csv',
                      index_col=0, parse_dates=True)

prices = prices.clean_names()

Again, a variety of syntaxes to do the same thing.

In [23]:
prices = pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/tr_eikon_eod_data.csv',
                      index_col=0, parse_dates=True)

prices = clean_names(prices)

The method `flag_nulls` creates a new variable that will have a 1 if any of the variables specified are missing. In this case, I didn't specify anything, so it will look across all of the variables. If any variable is `NaN`, then that row gets a 1. Notice the **any**.

In [24]:
prices = pd.read_csv('https://github.com/aaiken1/fin-data-analysis-python/raw/main/data/tr_eikon_eod_data.csv',
                      index_col=0, parse_dates=True)

prices = prices.flag_nulls()

Finally, simple way to see if we have any rows of duplicate data. This will happen surprisingly (and unfortunately) often when we start merging data together.

In [25]:
prices.get_dupes()

Empty DataFrame
Columns: [AAPL.O, MSFT.O, INTC.O, AMZN.O, GS.N, SPY, .SPX, .VIX, EUR=, XAU=, GDX, GLD, null_flag]
Index: []